/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
input,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* variables */

:root {
  --sz-1: 4px;
  --sz-2: 8px;
  --sz-3: 12px;
  --sz-4: 16px;
  --sz-5: 20px;
  --sz-icon-1: 16px;
  --sz-icon-2: 30px;

  --font-size: 15px;
  --border: 1px;
  --radius: 4px;
  --max-width: 720px;
  --width-input-num: 60px;
  --height-input: 36px;

  --blue: hsl(210, 100%, 50%);
  --red: hsl(0, 70%, 70%);
  --white: hsl(0, 0%, 100%);
  --gray-1: hsl(0, 0%, 95%);
  --gray-2: hsl(0, 0%, 92%);
  --gray-3: hsl(0, 0%, 90%);
  --gray-4: hsl(0, 0%, 86%);
  --gray-5: hsl(0, 0%, 30%);
  --gray-6: hsl(0, 0%, 20%);

  --bg-footer: hsla(0, 0%, 100%, 0.9);
}

@media (prefers-color-scheme: dark) {
 :root {
  --white: hsl(0, 0%, 12%); /* page background */
  --gray-1: hsl(0, 0%, 18%); /* button backgrounds */
  --gray-2: hsl(0, 0%, 16%); /* hover */
  --gray-3: hsl(0, 0%, 15%); /* active */
  --gray-4: hsl(0, 0%, 24%); /* input borders, excluded text */
  --gray-5: hsl(0, 0%, 80%); /* button text */
  --gray-6: hsl(0, 0%, 96%); /* text */

  --bg-footer: hsla(0, 0%, 12%, 0.9);
 }
}

@media (max-width: 660px) {
  :root {
    --font-size: 14px;
    --width-input-num: 48px;
  }
}

/* global styles */


body {
  background-color: var(--white);
}

*::selection {
  background-color: hsl(210, 100%, 92%);
}

.row {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: var(--sz-1) var(--sz-5);
  position: relative;
  width: var(--max-width);
}

.input {
  background-color: var(--white);
  border-radius: var(--radius);
  border: var(--border) solid var(--gray-4);
  color: inherit;
  line-height: calc(var(--height-input) - var(--border) * 2);
  min-width: 0;
  padding: 0 calc(var(--sz-3) - var(--border)); /* so border + padding = --sz-3 */
}

.input-col-1 {
  flex: 1 1 auto;
}

.btn {
  background-color: var(--gray-1);
  border: var(--border) solid transparent;
  border-radius: var(--radius);
  color: var(--gray-5);
  cursor: pointer;
  height: var(--height-input);
  padding: 0 calc(var(--sz-3) - var(--border));
}

.input:focus,
.btn:focus-visible {
  border-color: var(--blue);
  box-shadow: 0 0 0 1px var(--blue);
  outline: 0;
}

.btn:hover {
  background-color: var(--gray-2);
}

.btn:active {
  background-color: var(--gray-3);
}

.btn:disabled {
  opacity: .3;
  pointer-events: none;
}

.icon {
  fill: var(--gray-5);
  height: var(--sz-icon-1);
  width: var(--sz-icon-1);
}

.flip-y {
  transform: scaleY(-100%);
}

.btn-new {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.btn-new .icon {
  margin-right: var(--sz-1);
}

.plan {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 44px 0 36px;
  width: 100%;
  position: relative;
}

.plan:not(:first-child):before {
  content: "";
  width: var(--max-width);
  max-width: 100%;
  border-top: 2px solid var(--gray-1);
  position: relative;
  top: calc((var(--height-input) + var(--sz-2)) * -1);
}

.negative-total {
  border-color: currentColor;
  color: var(--red);
}

.bold {
  font-weight: 500;
}

.btn-icon {
  align-items: center;
  display: flex;
  height: var(--height-input);
  justify-content: center;
  padding: 0;
  width: var(--height-input);
  flex-shrink: 0;
}

.btn-icon + .btn-icon {
  margin-left: var(--sz-2);
}
