/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* global styles */

*::selection {
  background-color: hsl(210, 100%, 92%);
}

.row {
  display: flex;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  width: 700px;
}

.input {
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 86%);
  color: inherit;
  line-height: 34px;
  min-width: 0;
  padding: 0 12px;
}

.input:focus {
  border-color: hsl(210, 100%, 50%);
  outline-color: hsl(210, 100%, 50%);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 2px;
}

.btn {
  background-color: hsl(0, 0%, 96%);
  border: 0;
  border-radius: 4px;
  color: hsl(0, 0%, 30%);
  cursor: pointer;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
}

.btn:focus {
  outline-color: hsl(210, 100%, 50%);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 2px;
}

.btn:hover {
  background-color: hsl(0, 0%, 94%);
}

.btn:active {
  background-color: hsl(0, 0%, 92%);
}

.btn:disabled {
  opacity: .3;
  pointer-events: none;
}

.icon {
  fill: hsl(0, 0%, 30%);
  height: 16px;
  width: 16px;
}

.btn-new {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.btn-new .icon {
  margin-right: 4px;
}

.negative-total {
  border-color: currentColor;
  color: hsl(0, 70%, 70%);
}
