/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
input,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* variables */

:root {
  --sz-1: 4px;
  --sz-2: 8px;
  --sz-3: 12px;
  --sz-4: 16px;
  --sz-5: 20px;
  --sz-icon-1: 16px;
  --sz-icon-2: 30px;

  --font-size: 15px;
  --border: 1px;
  --radius: 4px;
  --max-width: 960px;
  --width-input-num: 60px;
  --height-input: 36px;
  --input-margin: var(--sz-2);
  --check-margin: 2px; /* space between check and text for completed turns */
  --input-padding: var(--sz-3);
  --plan-padding: 40px;
  --outer-padding: var(--sz-5);
  --min-width: 320px;

  --blue: hsl(210, 100%, 50%);
  --red: hsl(0, 65%, 65%);
  --white: hsl(0, 0%, 100%);
  --gray-1: hsl(0, 0%, 95%);
  --gray-2: hsl(0, 0%, 92%);
  --gray-3: hsl(0, 0%, 90%);
  --gray-4: hsl(0, 0%, 86%);
  --gray-5: hsl(0, 0%, 30%);
  --gray-6: hsl(0, 0%, 20%);

  --footer-bg: hsla(0, 0%, 100%, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: hsl(0, 0%, 14%); /* page background */
    --gray-1: hsl(0, 0%, 20%); /* button backgrounds */
    --gray-2: hsl(0, 0%, 18%); /* hover */
    --gray-3: hsl(0, 0%, 17%); /* active */
    --gray-4: hsl(0, 0%, 25%); /* input borders, excluded text */
    --gray-5: hsl(0, 0%, 80%); /* button text */
    --gray-6: hsl(0, 0%, 96%); /* text */

    --footer-bg: hsla(0, 0%, 14%, 0.9);
  }
}

@media (max-width: 600px) {
  :root {
    --font-size: 14px;
    --width-input-num: 48px;
  }
}

@media (max-width: 510px) {
  :root {
    --font-size: 13px;
    --outer-padding: var(--sz-3);
    --width-input-num: 40px;
    --height-input: 32px;
    --plan-padding: 36px;
  }
}

@media (max-width: 420px) {
  :root {
    --width-input-num: 36px;
    --input-padding: var(--sz-2);
    --input-margin: var(--sz-1);
  }

}

@media (max-width: 360px) {
  :root {
    --font-size: 12px;
    --width-input-num: 32px;
    --sz-icon-1: 14px;
  }

  .icon-new {
    display: none;
  }
}

/* global styles */

body {
  background-color: var(--white);
  min-width: var(--min-width);
}

*::selection {
  background-color: hsla(210, 100%, 75%, 0.4);
}

.row {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: var(--sz-1) var(--outer-padding);
  position: relative;
  width: var(--max-width);
}

.input {
  background-color: var(--white);
  border-radius: var(--radius);
  border: var(--border) solid var(--gray-4);
  color: inherit;
  line-height: calc(var(--height-input) - var(--border) * 2);
  min-width: 0;
  padding: 0 calc(var(--input-padding) - var(--border)); /* so border + padding = --sz-3 */
}

.input-col-1 {
  flex: 1 1 auto;
}

.btn {
  background-color: var(--gray-1);
  border: var(--border) solid transparent;
  border-radius: var(--radius);
  color: var(--gray-5);
  cursor: pointer;
  height: var(--height-input);
  padding: 0 calc(var(--input-padding) - var(--border));
}

.input:focus,
.btn:focus-visible {
  -webkit-appearance: none;
  border-color: var(--blue);
  box-shadow: 0 0 0 1px var(--blue);
  outline: 0;
}

.btn:hover {
  background-color: var(--gray-2);
}

.btn:active {
  background-color: var(--gray-3);
}

.btn:disabled {
  opacity: .3;
  pointer-events: none;
}

.icon {
  fill: var(--gray-5);
  height: var(--sz-icon-1);
  pointer-events: none;
  width: var(--sz-icon-1);
}

.flip-y {
  transform: scaleY(-100%);
}

.btn-new {
  align-items: center;
  display: flex;
  margin-right: auto;
}

.btn-new .icon {
  margin-right: var(--sz-1);
}

.plan {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--plan-padding) 0;
  position: relative;
  width: 100%;
}

.plan:not(:first-child):before {
  border-top: 2px solid var(--gray-1);
  content: "";
  max-width: 100%;
  position: relative;
  top: calc((var(--height-input) + var(--sz-2)) * -1);
  width: var(--max-width);
}

.color-red {
  color: var(--red);
}

.border-red {
  border-color: var(--red);
}

.bold {
  font-weight: 500;
}

.btn-icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: var(--height-input);
  justify-content: center;
  padding: 0;
  width: var(--height-input);
}

.btn-icon + .btn-icon {
  margin-left: var(--input-margin);
}
